@font-face {
    font-family: "Fira Code";
    font-weight: 300;
    src: url(/fonts/Fira_Code/static/FiraCode-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Fira Code";
    font-weight: 400;
    src: url(/fonts/Fira_Code/static/FiraCode-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Fira Code";
    font-weight: 500;
    src: url(/fonts/Fira_Code/static/FiraCode-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Fira Code";
    font-weight: 600;
    src: url(/fonts/Fira_Code/static/FiraCode-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Fira Code";
    font-weight: 700;
    src: url(/fonts/Fira_Code/static/FiraCode-Bold.ttf) format("truetype");
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Fira Code", sans-serif;
}

h1 span {
    color: #f55;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

date-picker {
    margin: 0.3rem;
}

footer {
    font-family: "Fira Code", monospace;
    color: #555;
    font-size: 0.7rem;
    opacity: 0.5;
    width: 100%;
    padding: 0.5rem 2rem;
}

footer span {
    color: #f55;
}

footer span.heart {
    display: inline-block;
    transform: rotate(-90deg);
    font-weight: 700;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer:hover {
    opacity: 1;
}

p {
    margin: 0;
    font-family: "Fira Code", monospace;
    font-size: 0.8rem;
    line-height: 1.5;
}
.output {
    display: none; /* For PHP Post method */
    padding: 0.5rem 1rem;
    border: 2px solid #000;
    background: rgba(176, 235, 112, 0.366);
}

date-picker {
    margin-bottom: 1rem;
}

input[type="submit"] {
    width: 100%;
    appearance: none;
    border: 2px solid #000;
    background: #f55;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

input[type="submit"]:hover {
    background: #000;
    color: #fff;
}
